
.backhand
{
	background:url(../img/background.jpg);
	background-attachment:fixed;
	background-size:cover; 
}

.backoverlay
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #3b035d;
   opacity: 0.8;
 }

 .overlaytext
 {
  color:white;
 }


ul,h1{
  color:white;

}

body{color:green;}

.navbar a
{
  color:brown;
  font-size:3em;
}

.navbar a:hover
{
  background-color:purple;
  color:white;
}

.navbar-header div
{
  font-size:3em;
  color:white;
  font-family: 'Homemade Apple', cursive;
}

